<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MVC Tech Blog - A platform for tech enthusiasts to share and discuss blog posts.">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="home-title">MVC Tech Blog</h1>
      <nav>
        <a href="/" aria-label="Home">Home</a>
        <a href="/dashboard" aria-label="Dashboard">Dashboard</a>
        {{#if loggedIn}}
        <a href="/" id="logout" aria-label="Logout">Logout</a>
        {{else}}
        <a href="/login" aria-label="Login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p>Thanks for visiting!</p>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/public/script/logout.js"></script>
  {{/if}}
</body>

</html>

