<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" aria-label="Post Title">Title</label>
      <input type="text" id="post-title" name="post-title" required aria-required="true" />
    </div>
    <div>
      <label for="post-text" aria-label="Post Content">Post</label>
      <textarea id="post-text" name="post-text" required aria-required="true"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/public/script/add-post.js"></script>
