<!-- Post Information -->
{{> post-info post}}

<!-- Comment Form (Visible if logged in) -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <label for="comment-body">Add a Comment:</label>
    <textarea id="comment-body" name="comment-body" placeholder="Write your comment here..."></textarea>
  </div>
  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

<!-- Display Comments -->
{{> comments post.comments}}

<!-- Include Comment Handling Script (Only if logged in) -->
{{#if loggedIn}}
<script src="/script/comment.js"></script>
{{/if}}
